:root {
    --color-black: #101010;
    --color-gray: #909090;
    --color-white: #ffffff;

    --color-line: #EBEBEB;
    --color-background: #F5F5F5;

    --color-highlight: #00B43C;
    --color-highlight-sub: #3CD278;

    --box-shadow: 0px 4px 16px 0px #1010100D;
    
    --section-gap: 160px;
    --padding-side: 20px;
    --header-height: 80px;

    --font-xl: 48px;
    --font-l: 32px;
    --font-m: 24px;
    --font-s: 20px;
    --font-xs: 16px;

    --margin-80: 80px;
    --margin-40: 40px;
    --margin-20: 20px;
    --margin-12: 12px;
}

/* ---------------- 공통 영역 ---------------- */

::selection {
    background-color: var(--color-black);
    color: var(--color-white);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    position: relative;
    min-width: 360px;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-white);
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: var(--section-gap);
    padding-bottom: var(--section-gap);
}

.section-wrapper{
    max-width: 1320px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
}

/* ---------------- HEADER 영역 ---------------- */

header{
    min-width: 360px;
    position: fixed;
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-line);
    z-index: 10;
}

.header-wrapper{
    max-width: 1320px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.logo > img{
    width: 22px;
    height: 22px;
    object-fit: contain;
    border-radius: 2px;
    margin-right: 6px;
}

.logo > div{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: var(--color-black);
}

.header-wrapper > a{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-white);
    background:linear-gradient(135deg, var(--color-highlight), var(--color-highlight-sub));
    border-radius: 4px;
    padding: 12px 20px;
}

/* ---------------- LINE BANNER 영역 ---------------- */

.line-banner{
    height: 40px;
    padding: 0px;
    margin-top: var(--header-height);
    background-color: var(--color-black);
}

.line-banner > .section-wrapper{
    justify-content: center;
}

.line-banner > .section-wrapper > p{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-white);
}

/* ---------------- BANNER 영역 ---------------- */

.banner > .section-wrapper > h1{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-xl);
    font-weight: 800;
    line-height: 150%;
    color: var(--color-black);
    text-align: center;
    word-break: keep-all;
}

.banner > .section-wrapper > h1 > span:not(.hidden-mo){
    color: var(--color-highlight);
}

.banner > .section-wrapper > h2{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-m);
    font-weight: 500;
    line-height: 150%;
    color: var(--color-black);
    margin-top: var(--margin-40);
    text-align: center;
    word-break: keep-all;
}

.top-slider{
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    margin-top: var(--margin-80);
}

.bottom-slider{
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    margin-top: var(--margin-40);
}

.top-slider > .slide-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    animation: move-rtl 40s linear infinite;
}

.bottom-slider > .slide-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    animation: move-ltr 40s linear infinite;
}

@keyframes move-rtl{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes move-ltr{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}

.slide{
    margin-right: var(--padding-side);
}

.slide > img{
    width: 400px;
    height: 225px;
    object-fit: cover;
    border-radius: 8px;
}

.slide > p:nth-of-type(1){
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-s);
    font-weight: 800;
    color: var(--color-black);
    margin-top: var(--padding-side);
    word-break: keep-all;
}

.slide > p:nth-of-type(2){
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-xs);
    font-weight: 500;
    color: var(--color-gray);
    margin-top: var(--margin-12);
    word-break: keep-all;
}

/* ---------------- REPORT 영역 ---------------- */

.report{
    background: linear-gradient(135deg, var(--color-highlight), var(--color-highlight-sub));
    padding-top: var(--margin-80);
    padding-bottom: var(--margin-80);
}

.report > .section-wrapper{
    position: relative;
    align-items: flex-start;
}

.report > .section-wrapper > h4{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-s);
    font-weight: 800;
    color: var(--color-white);
}

.report > .section-wrapper > h3{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-l);
    font-weight: 800;
    color: var(--color-white);
    margin-top: var(--margin-20);
}

.report > .section-wrapper > a{
    margin-top: var(--margin-40);
}

.report > .section-wrapper > a > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 4px;
    padding: 16px 24px;
}

.report > .section-wrapper > a > div > img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.report > .section-wrapper > a > div > p{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-xs);
    font-weight: 800;
    color: var(--color-highlight);
}

.report > .section-wrapper > img{
    position: absolute;
    top: 0px;
    right: 20px;
    width: 620px;
    object-fit: contain;
}

/* ---------------- BENEFIT 영역 ---------------- */

.benefit{
    margin-top: 132px;
}

.benefit > .section-wrapper > h2:nth-of-type(1){
    display: block;
}

.benefit > .section-wrapper > h2:nth-of-type(2){
    display: none;
}

.benefit > .section-wrapper > h2{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-xl);
    font-weight: 800;
    line-height: 150%;
    color: var(--color-black);
    text-align: center;
    word-break: keep-all;
}

.benefit > .section-wrapper > h2 > span{
    color: var(--color-highlight);
}

.benefit-top{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--margin-40);
    row-gap: var(--margin-40);
    margin-top: var(--margin-80);
}

.benefit-top > div{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--color-highlight);
    border-radius: 8px;
    padding: var(--margin-80) var(--padding-side);
}

.benefit-top > div > h3{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-l);
    font-weight: 800;
    line-height: 150%;
    color: var(--color-black);
    text-align: center;
}

.benefit-top > div > h3 > span{
    color: var(--color-highlight);
}

.benefit-top > div > p{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-m);
    font-weight: 500;
    line-height: 150%;
    color: var(--color-black);
    text-align: center;
    margin-top: var(--margin-40);
}

.benefit-top > div > div{
    position: absolute;
    top: 0px;
    right: var(--margin-40);
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 256px;
    font-weight: 800;
    color: var(--color-highlight);
    opacity: 0.1;
}

.benefit-price, .benefit-management{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--margin-40);
    row-gap: var(--margin-80);
    margin-top: var(--section-gap);
}

.benefit-detail > h4{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-s);
    font-weight: 800;
    color: var(--color-highlight);
}

.benefit-detail > h3{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-l);
    font-weight: 800;
    line-height: 150%;
    color: var(--color-black);
    margin-top: var(--margin-20);
}

.benefit-detail > p{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-m);
    font-weight: 500;
    line-height: 150%;
    color: var(--color-black);
    margin-top: var(--margin-40);
}

.benefit-price > img, .benefit-management > img{
    width: 100%;
    object-fit: contain;
    border: 1px solid var(--color-line);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.benefit-management > .benefit-detail{
    text-align: right;
}

.benefit-management > img:nth-of-type(1){
    display: block;
}

.benefit-management > img:nth-of-type(2){
    display: none;
}

/* ---------------- CAMPAIGN 영역 ---------------- */

.campaign{
    background-color: var(--color-background);
}

.campaign > .section-wrapper > h2{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-xl);
    font-weight: 800;
    line-height: 150%;
    color: var(--color-black);
    text-align: center;
}

.campaign > .section-wrapper > h2 > span{
    color: var(--color-highlight);
}

.swiper {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    margin-top: var(--margin-80);
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background: var(--color-white);
    border-radius: 8px;
    border: 1px solid var(--color-line);
    box-shadow: var(--box-shadow);
}

.swiper-slide > img{
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.swiper-slide > .category{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray);
    border: 1px solid var(--color-gray);
    border-radius: 24px;
    padding: 4px 16px;
    margin-top: var(--padding-side);
    margin-left: var(--padding-side);
}

.swiper-slide > p:nth-of-type(1){
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-s);
    font-weight: 800;
    color: var(--color-black);
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
    margin-top: var(--padding-side);

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.swiper-slide > p:nth-of-type(2){
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-xs);
    font-weight: 500;
    color: var(--color-gray);
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
    margin-top: var(--margin-12);

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.swiper-slide > hr{
    width: calc(100% - (2 * var(--padding-side)));
    height: 2px;
    background-color: var(--color-highlight);
    border: none;
    border-radius: 1px;
    margin: var(--padding-side);
}

.swiper-slide > .recruit{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
    padding-bottom: var(--padding-side);
}

.swiper-slide > .recruit > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.swiper-slide > .recruit > p{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-xs);
    font-weight: 500;
    color: var(--color-gray);
}

.swiper-slide > .recruit> p > span{
    font-weight: 800;
    color: var(--color-highlight);
}

.swiper-slide > .recruit > div > img{
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.swiper-slide > .recruit > div > p{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-xs);
    font-weight: 500;
    color: var(--color-gray);
}

.swiper-pagination{
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    margin-top: var(--margin-80);
}

.swiper-pagination-bullet {
    width: var(--padding-side);
    height: var(--padding-side);
    background: var(--color-gray);
}

.swiper-pagination-bullet-active {
    background: var(--color-highlight);
}

/* ---------------- CONTENT 영역 ---------------- */

.content > .section-wrapper > h2{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-xl);
    font-weight: 800;
    line-height: 150%;
    color: var(--color-black);
    text-align: center;
}

.content > .section-wrapper > h2 > span{
    color: var(--color-highlight);
}

.review-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--padding-side);
    row-gap: var(--margin-40);
    margin-top: var(--margin-80);
}

.review{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-line);
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    padding-bottom: var(--padding-side);
}

.review > img{
    width: 100%;
    object-fit: contain;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.review > div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
    margin-top: var(--padding-side);
}

.review > div > img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 8px;
}

.review > div > p{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray);
}

.review > hr{
    width: calc(100% - (2 * var(--padding-side)));
    height: 2px;
    border: none;
    background-color: var(--color-highlight);
    border-radius: 2px;
    margin: var(--padding-side);
}

.review > p:nth-of-type(1){
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-s);
    font-weight: 800;
    color: var(--color-highlight);
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
    margin-top: var(--margin-12);

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review > p:nth-of-type(2){
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-xs);
    font-weight: 500;
    color: var(--color-black);
    line-height: 150%;
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 4.5em;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ---------------- PROCESS 영역 ---------------- */

.process{
    background-color: var(--color-background);
}

.process > .section-wrapper > h2{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-xl);
    font-weight: 800;
    line-height: 150%;
    color: var(--color-black);
    text-align: center;
}

.process > .section-wrapper > h2 > span{
    color: var(--color-highlight);
}

.step-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--padding-side);
    row-gap: var(--margin-40);
    margin-top: var(--margin-80);
}

.step{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-line);
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    padding-bottom: var(--padding-side);
}

.step > img{
    width: 100%;
    object-fit: contain;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.step > p:nth-of-type(1){
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray);
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
    margin-top: var(--padding-side);
}

.step > p:nth-of-type(2){
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-s);
    font-weight: 800;
    color: var(--color-black);
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
    margin-top: var(--margin-12);
}

.step > p:nth-of-type(3){
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-xs);
    font-weight: 500;
    color: var(--color-black);
    line-height: 150%;
    padding-left: var(--padding-side);;
    padding-right: var(--padding-side);;
    margin-top: var(--padding-side);;
}

/* ---------------- CONTACT 영역 ---------------- */

.contact{
    padding-top: var(--margin-80);
    padding-bottom: var(--margin-80);
    background: linear-gradient(135deg, var(--color-highlight), var(--color-highlight-sub));
}

.contact > .section-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: var(--margin-40);
}

.contact > .section-wrapper > h3{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-l);
    font-weight: 500;
    color: var(--color-white);
    line-height: 150%;
    word-break: keep-all;
}

.contact > .section-wrapper > h3 > span{
    font-weight: 800;
}

.contact > .section-wrapper > div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#form{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-right: var(--padding-side);
}

.field > input {
    display: block;
    width: 100%;
    height: 56px;
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-xs);
    font-weight: 500;
    color: var(--color-black);
    border: none;
    border-radius: 4px;
    background-color: var(--color-white);
    padding: 20px;
}

.field > input::placeholder{
    color: var(--color-gray);
}

.field > input:focus {
    outline: none;
}

#button{
    display: block;
    max-width: 144px;
    width: 100%;
    height: 56px;
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-xs);
    font-weight: 800;
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    background-color: var(--color-black);
    cursor: pointer;
}

.field > #privacy {
    width: 16px;
    height: 16px;
    accent-color: var(--color-black);
    outline: none;
    border: none;
    margin-right: 8px;
}

.field > label{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 150%;
    word-break: keep-all;
    color: var(--color-white);
}

.field > label > span{
    font-weight: 500;
}

/* ---------------- FOOOTER 영역 ---------------- */

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: var(--margin-80);
    padding-bottom: var(--margin-80);
    background-color: var(--color-white);
}

.footer-wrapper{
    max-width: 1320px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
}

.footer-wrapper > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper > div > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.footer-wrapper > div > div > img{
    width: 22px;
    height: 22px;
    border-radius: 2px;
    opacity: 0.45;
    margin-right: 6px;
}


.footer-wrapper > div > div > div{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: var(--color-gray);
}

.footer-wrapper > div > a{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-s);
    font-weight: 500;
    color: var(--color-gray);
}

.footer-wrapper > p{
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-xs);
    font-weight: 500;
    color: var(--color-gray);
    line-height: 150%;
    margin-top: var(--margin-40);
    word-break: keep-all;
}

.footer-wrapper > p a{
    color: var(--color-gray);
}

.fixed-contact{
    position: fixed;
    right: var(--margin-80);
    bottom: var(--margin-80);
    width: var(--section-gap);
    height: var(--section-gap);
    min-width: 120px;
    min-height: 120px;
    animation-name: move-updown;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 100;
}

.fixed-contact > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Pretendard Variable', sans-serif;
    font-size: var(--font-xs);
    font-weight: 800;
    color: var(--color-white);
    border-radius: 50%;
    background-color: var(--color-black);
}

@keyframes move-updown{
    from{
        bottom: var(--margin-80);
    }

    to{
        bottom: var(--section-gap);
    }
}

@media screen and (max-width: 1320px) {

    .report > .section-wrapper > img{
        width: 528px;
        height: 328px;
    }
    
    .benefit{
        margin-top: 70px;
    }

    .contact > .section-wrapper > h3 > br{
        display: none;
    }

    #form{
        margin-bottom: var(--padding-side);
    }

    .contact > .section-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: var(--margin-40);
        column-gap: var(--margin-40);
    }

    .fixed-contact{
        right: var(--padding-side);
    }
}

@media screen and (max-width: 1024px) {

    :root {
        --section-gap: 120px;
        --padding-side: 20px;
        --header-height: 72px;
    
        --font-xl: 40px;
        --font-l: 28px;
        --font-m: 22px;
        --font-s: 18px;
        --font-xs: 16px;
    
        --margin-80: 60px;
        --margin-40: 32px;
        --margin-20: 16px;
        --margin-12: 12px;
    }

    .slide > img{
        width: 360px;
        height: 202.5px;
    }

    .report > .section-wrapper > img{
        top: 84px;
        width: 472px;
        height: 293px;
    }

    .benefit{
        margin-top: 163px;
    }

    .benefit-top > div > div{
        font-size: 192px;
    }

    .review-wrapper, .step-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {

    :root {
        --section-gap: 80px;
        --padding-side: 16px;
        --header-height: 64px;
    
        --font-xl: 32px;
        --font-l: 24px;
        --font-m: 18px;
        --font-s: 16px;
        --font-xs: 14px;
    
        --margin-80: 40px;
        --margin-40: 28px;
        --margin-20: 12px;
        --margin-12: 8px;
    }

    .banner > .section-wrapper > h2 > br{
        display: none;
    }

    .slide > img{
        width: 320px;
        height: 180px;
    }

    .report > .section-wrapper > img{
        display: none;
    }

    .benefit{
        margin-top: 0px;
    }

    .benefit-top{
        grid-template-columns: 1fr;
    }

    .benefit-top > div > div{
        font-size: 144px;
    }

    .benefit-price, .benefit-management{
        grid-template-columns: 1fr;
    }

    .benefit-detail > h3{
        text-align: center;
    }

    .benefit-detail > h4{
        text-align: center;
    }

    .benefit-detail > p{
        text-align: center;
    }

    .benefit-management > img:nth-of-type(1){
        display: none;
    }
    
    .benefit-management > img:nth-of-type(2){
        display: block;
    }

}

@media screen and (max-width: 576px) {

    .banner > .section-wrapper > h1 > .hidden-mo{
        display: none;
    }

    .benefit > .section-wrapper > h2:nth-of-type(1){
        display: none;
    }
    
    .benefit > .section-wrapper > h2:nth-of-type(2){
        display: block;
    }

    .review-wrapper, .step-wrapper{
        grid-template-columns: 1fr;
    }

    .contact > .section-wrapper > h3 > br{
        display: block;
    }
    
    #form{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: var(--padding-side);
    }
}